.recruiting {
  width: 15vw;
  height: 2vh;
  background-color: rgb(80, 184, 80);
  border-radius: 13px;
  font: inherit;
  text-align: center;
}

.recruiting p {
  font-size: 0.7rem;
  color: white;
  margin: 0;
}

.owner {
  width: 17vw;
  height: 2vh;
  background-color: #f33182;
  border-radius: 13px;
  font: inherit;
  text-align: center;
}

.owner p {
  font-size: 0.6rem;
  color: white;
  margin: 0;
}

.awaiting {
  width: 15vw;
  height: 2vh;
  background-color: #c2c2c2;
  border-radius: 13px;
  font: inherit;
  text-align: center;
}

.awaiting p {
  font-size: 0.7rem;
  color: white;
  margin: 0;
}

.invitemember {
  width: 30vw;
  height: 3vh;
  background-color: #f33182;
  border-radius: 13px;
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.invitemember p {
  font-size: 0.7rem;
  color: white;
  margin: 0;
}

.invitemember .icon {
  margin-top: 2%;
}

.requesttojoin {
  width: 30vw;
  height: 3vh;
  background-color: #f33182;
  border-radius: 13px;
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.requesttojoin p {
  font-size: 0.7rem;
  color: white;
  margin: 0;
}

.category {
  width: 20vw;
  height: 3vh;
  background-color: #767474;
  border-radius: 10px;
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.category p {
  font-size: 0.7rem;
  color: white;
  margin: 0;
}

.pending {
  width: 20vw;
  height: 3vh;
  background-color: #767474;
  border-radius: 10px;
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pending p {
  font-size: 0.8rem;
  color: white;
  margin: 0;
}

.connected {
  width: 25vw;
  height: 3vh;
  background-color: rgb(80, 184, 80);
  border-radius: 10px;
  font: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.connected p {
  font-size: 0.8rem;
  color: white;
}

.connected .icon {
  width: 20%;
  margin-top: 4%;
}
