.HalfCircleOverlay {
  position: fixed;
  overflow: hidden;
  z-index: -10;
  top: 30vh;
  left: -33vh;
  bottom: auto;
  right: auto;
}

@media only screen and (max-height: 823px) {
  .HalfCircleOverlay {
    top: 30vh;
    left: -31vh;
  }
}

@media only screen and (max-height: 812px) {
  /* iPhone X */
  .HalfCircleOverlay {
    top: 30vh;
    left: -33vh;
  }
}

@media only screen and (max-height: 731px) {
  .HalfCircleOverlay {
    top: 30vh;
    left: -34vh;
  }
}

@media only screen and (max-height: 667px) {
  /* iPhone 6/7/8 */
  .HalfCircleOverlay {
    top: 30vh;
    left: -40vh;
  }
}

@media only screen and (max-height: 640px) {
  .HalfCircleOverlay {
    top: 30vh;
    left: -43vh;
  }
}

@media only screen and (max-height: 568px) {
  /* iPhone 5/SE */
  .HalfCircleOverlay {
    top: 29vh;
    left: -52vh;
  }
}

@media only screen and (max-height: 530px) {
  .HalfCircleOverlay {
    top: 29vh;
    left: -55vh;
  }
}

@media only screen and (max-height: 450px) {
  .HalfCircleOverlay {
    top: 28vh;
    left: -63vh;
  }
}
