.divHeading {
  position: relative;
  width: 100vw;
  height: 1.6vh;
  z-index: 1;
}

.divFixed {
  position: fixed;
  width: 100vw;
  background-color: white;
}

.relativeArrow {
  position: absolute;
  left: 4.8vw;
  top: 3.201vh;
}

.divInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.divLeft {
  left: 4.8vw;
  text-align: left;
}

.divRight {
  right: 4.8vw;
  text-align: right;
}

.noStyleButton {
  background: none;
  /* color: inherit; */
  color: #00c300;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  top: 3.5vh;
  right: 4.8vw;
}
.arrowDiv {
  position: absolute;
  top: 3.2vh;
  left: 4.8vw;
}
.searchDiv {
  width: 95vw;
  margin: auto;
}
.memberListsDiv {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  width: 100vw;
}
