.divHeading {
  position: relative;
  width: 375px;
  height: 130px;
  z-index: 1;
}

.divFixed {
  position: fixed;
  width: 375px;
  background-color: white;
  margin-top: 15px;
}

.relativeArrow {
  position: absolute;
  left: 18px;
  top: 10px;
}

.divLeft {
  left: 18px;
  text-align: left;
}

.divRight {
  right: 18px;
  text-align: right;
}

.noStyleButton {
  background: none;
  /* color: inherit; */
  color: #00c300;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  top: 10px;
  right: 18px;
}

.arrowDiv {
  position: absolute;
  top: 3.2vh;
  left: 4.8vw;
}

.searchDiv {
  width: 95vw;
  margin: auto;
}

.memberListsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.memberListsDiv > div > p {
  text-align: start;
  margin: 0 0.3rem;
}
