.backgroundDiv {
    width: 375px;
    height: auto;
    margin-top:76px;
    text-decoration: none !important;
  }
  .deleteUnderlineDiv{
      text-decoration: none !important;
  }
  
  .memberTagDiv{
      display:flex;
      height:310px;
      width:375px;
      text-decoration: none !important;
  }
  .pageHeaderDiv {
    width: 375px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.1px grey;
  }
  .arrowDiv {
    margin-top: 3px;
    width: 28px;
    height: 28px;
  }
  .newTeamDiv {
    margin-left: 70px;
    margin-right: 70px;
    width: 105px;
    height: 27px;
    overflow: visible;
    color: var(--main_pink, #f33182);
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-family: "Nunito", serif;
  }
  .createDiv {
    margin-top: 4px;
    width: 55px;
    height: 22px;
    overflow: visible;
    font-size: 18px;
    color: var(--green_toggle, #00c300);
    font-weight: 400;
    font-style: normal;
    font-family: "Nunito", serif;
  }
  .profilePicDiv {
    width: 375px;
    height: 158px;
    display: flex;
    flex-direction: column;
    margin-top:8px;
  }
  .createDiv {
    width: 55px;
    height: 22px;
    font-size: 18px;
    color: var(--green_toggle, #00c300);
    font-weight: 400;
    font-style: normal;
    font-family: "Nunito", serif;
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
  }
  .InputFieldDiv {
      width: 80%;
      margin: 3% auto;
    }