.divHeading {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: auto;
  z-index: 1;
}

.relativeArrow {
  position: absolute;
  left: 18px;
  top: 5vh;
}
.statusDiv {
  text-align: left;
  margin-left: 8vw;
}
.searchDiv {
}
