.SideNavToggle {
  display: flex;
  flex-direction: column;
  z-index: 10000001;

  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

/* Styling the hamburger lines */
.SideNavToggle .SideNavLine {
  width: 32px;
  height: 5px;
  margin: 0 0 5px 0;
  background: rgb(0, 0, 0);
  transition: all 0.5s ease-out;
}

/* Adding tranform to the X */
.SideNavLine.close {
  transform: rotate(180deg);
}

/* Adding tranform to the X */
.Close {
  transform: rotate(180deg);
}

.Close .SideNavLine {
  background: black;
}

/* Styling the three lines to make it an X */
.Close .SideNavLine:nth-child(1) {
  transform: translateY(-50%);
  transform: rotate(45deg) translate(10px, 10px);
}

.Close .SideNavLine:nth-child(2) {
  opacity: 0;
}

.Close .SideNavLine:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -2px);
}

@media (min-width: 40rem) {
  .SideNavToggle {
    display: none;
  }
}
