.interestList {
  margin: 2vw;
}

.interest {
  /* background-color: hsl(0, 29%, 59%); */
  border: 1px solid #f33182;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 35px;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  align-items: flex-start;
  width: 20px;
  height: 20px;
}

.text {
  margin: 0;
  white-space: nowrap;
  font-size: 12px;
  /* position: relative; */
}

p.interestP::after {
  content: " ";
  white-space: pre;
}
p.interestP::before {
  content: " ";
  white-space: pre;
}

.isClicked {
  background-color: #f33182;
  border-radius: 10px;
  color: white;
}

/*

.interestImage {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Marketing::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.BusinessCase::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.Startup::before {
  background-size: 100px 100px, contain;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.Ecommerce::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.Coding::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.WebBuilder::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.ChatBot::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.FinTech::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.Graphic::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.UXUI::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.Ads::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.Fashion::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

/* Alternative for reducing opacity is to add overlay for opacity, this way the css will be shorter. However the effect is not good

.interestImage::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 50%;
}

p {
  position: relative;
}

*/
