.interestList {
  margin: 2%;
  background-color: hsl(0, 0%, 88%);
  border-radius: 10%;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.text {
  position: relative;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.interestImage {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Alternative for reducing opacity is to add overlay for opacity, this way the css will be shorter. However the effect is not good */

/* .interestImage::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
} */
/* 
p {
  position: relative;
} */

.isClicked {
  background-color: #f33182;
  border-radius: 10%;
  color: white;
}

.Marketing::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.BusinessCase::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.Startup::before {
  background-size: 100px 100px, contain;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.Ecommerce::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.Coding::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.WebBuilder::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.ChatBot::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.FinTech::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.Graphic::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.UXUI::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.Ads::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
.Fashion::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}
