.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}
.textbodyDiv {
  margin-left:5%;
  display: flex;
  flex-direction: column;
  width: 333px;
  height: 250px;
  margin-top: 3%;
}
.eventnameDiv {
  text-align: left;
  width: auto;
  height: auto;
  overflow: visible;
  white-space: pre;
  color: var(--black, #000000);
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Nunito", serif;
  font-size: 22px;
}
.eventdescriptionDiv {
  text-align: left;
  width: auto;
  height: auto;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-family: "Nunito", serif;
  color: var(--edit_grey, #767474);
  font-size: 13px;
  word-wrap: break-word;
}
.eventstatusDiv {
  margin-top: 5%;
  width: 105px;
  height: 16px;
  background-color: var(--main_pink, #f33182);
  border-radius: 5px;
  overflow: visible;
  white-space: pre;
  font-weight: 600;
  font-style: normal;
  font-family: "Nunito", serif;
  letter-spacing: 0px;
  text-align: center;
  color: var(--white, #ffffff);
  font-size: 10px;
  margin-bottom:5%;
}
.upcomingDiv{
  
  margin-top:5%;
  width: 53px;
  height: 16px;
  background-color: var(--green_toggle, #00c300);
  overflow: visible;
  border-radius: 5px;
  white-space: pre;
  font-weight: 600;
  font-style: normal;
  font-family: "Nunito", serif;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: center;
  color: var(--white, #ffffff);
  font-size: 10px;
  margin-bottom:5%;
}
.closedDiv{
  margin-top:5%;
  width: 46px;
  height: 16px;
  background-color: var(--edit_grey, #767474);
  border-radius: 5px;
  white-space: pre;
  font-weight: 600;
  font-style: normal;
  font-family: "Nunito", serif;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: center;
  color: var(--white, #ffffff);
  font-size: 10px;
}
.eventPic{
  width: 312px;
  height: 158px;
  overflow: visible;
  background-image: url("../../../../assets/tempEvent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  margin-bottom:5%;
}
