.teamPic {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  position: relative;
}

.teamPic {
  opacity: 0.8;
  width: 120px;
  height: 150px;
  background-size: cover;
}

.defaultPic {
  background-image: url("../../../../assets/tempTeam.png");
  background-size: cover;
  opacity: 0.8;
  width: 120px;
  height: 150px;
  /* display: flex; */
}

.triangle {
  margin-left: 100px;
  height: 0;
  width: 0;
  border-bottom: 150px solid white;
  border-left: 21px solid transparent;
  overflow: hidden;
  position: absolute;
}
