.biographyContainer {
  margin-bottom: 5%;
}

.heading {
  display: flex;
}

.about {
  font-size: 1.2rem;
  text-align: start;
  font-weight: 900;
  margin-left: 5%;
  margin-bottom: 3%;
}

.editIcon {
  position: absolute;
  overflow: hidden;
  right: 5%;
}

.detail {
  font-size: 0.9rem;
  margin-left: 5%;
  font-weight: 500;
  text-align: start;
}
