.mainDiv {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.headingContainerDiv {
  width: 100vw;
  height: 4.92vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 0.5px solid grey;
}
.arrowDiv {
  margin-left: 5%;
}

.eventDiv {
  width: 100vw;
}
.fixHeaderDiv {
  position: fixed;
  background-color: white;
}

.divHeading {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  z-index: 1;
}

.divFixed {
  position: fixed;
  width: 100vw;
  background-color: white;
}

.relativeArrow {
  position: absolute;
  left: 18px;
  top: 5vh;
}
