.mainDiv {
  width: 375px;
  display: flex;
  flex-direction: column;
}
.headingContainerDiv {
  display: flex;
  flex-direction: row;
}
.arrowDiv {
  margin-left: 5%;
  margin-top: 8%;
  zoom: 150%;
}
.headingDiv {
  margin-left: 15%;
}
.eventDiv {
  width: 375px;
}
