.container {
  display: flex;
  position: relative;
}
.activityPic {
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.defaultPic {
  background-image: url("../../../../assets/tempFacultyPic.jpg");
  background-size: cover;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  /* display: flex; */
}
