.appBackground {
  position: absolute;
  z-index: -1000;
  width: 375px;
  height: 844px;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient(
    335deg,
    #ffc2db 0%,
    var(--white, rgb(255, 255, 255)) 100%
  );
  /* background-color: rgb(255, 255, 245); */
}
