.Button {
  width: 68vw;
  height: 7vh;
  background-color: rgb(243, 48, 129);
  border-radius: 13px; 
  font: inherit;
  border: none;
}

.Button p {
  font-weight: 140;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  color: white;
}

@media only screen and (max-width: 320px) {                       /* small mobile */
  .Button {
    width: 60vw;
  }

  .Button p {
    font-weight: 140;
    font-size: 1rem;
  }
}