.Button {
  width: 100%;
  height: 7vh;
  font: inherit;
  background-color: white;
  color: rgb(243, 48, 129);
  font-size: 1.2rem;
  overflow: hidden;
  border: 1px solid white;
}

.Number {
  width: 100%;
  height: 7vh;
  font: inherit;
  background-color: white;
  color: rgb(243, 48, 129);
  font-size: 1.2rem;
  overflow: hidden;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Number .tabValue {
  margin-top: 5%;
}

.Number .tabNumber {
  margin-left: 3%;
  margin-top: -3%;
}

.Number .circle {
  width: 5vw;
  height: 2vh;
  background-color: #f33182;
  border-radius: 50%;
  font: inherit;
  text-align: center;
}

.tabNumber p {
  font-size: 0.8rem;
  color: white;
}
