.profile {
  margin: auto;
  height: 100px;
  width: 100px;
}

.profileBig {
  margin: auto;
  height: 200px;
  width: 200px;
}

.profileRating {
  margin: auto;
  height: 80px;
  width: 80px;
}

.profileMedium {
  margin: auto;
  height: 125px;
  width: 125px;
}

.profileMediumBorder {
  margin: auto;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 5px solid #00c300;
}

.profileSmall {
  margin: auto;
  height: 40px;
  width: 40px;
}

.profileMini {
  margin-left: 1vw;
  margin-right: 1vw;
  height: 30px;
  width: 30px;
}

.profileSmallMedium {
  margin: auto;
  height: 70px;
  width: 70px;
  /* border: 5px solid transparent;
  border-image: linear-gradient(
      to bottom right,
      #b827fc 0%,
      #2c90fc 25%,
      #b8fd33 50%,
      #fec837 75%,
      #fd1892 100%
    )
    round;
  border-image-slice: 1; */
}
.profilePicDefault {
  background-image: url("../../../assets/tempProfile.png");
  background-repeat: round;
  background-size: cover;

  border-radius: 50%;
  opacity: 1;
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic {
  background-repeat: round;
  background-size: cover;

  border-radius: 50%;
  opacity: 1;
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pTag {
  font-weight: 600;
}
/* 
p {
  position: relative;
} */
.test {
  background: -webkit-linear-gradient(
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 2px;
}
