.main {
  width: 375px;
  height: 812px;
  margin: 0 auto;
}

@media only screen and (max-width: 375px) {
  /* iPhone X */
  @media only screen and (width: 375px) and (height: 812px) {
    .main .container {
      width: 23.4375rem;
      height: 50.75rem;
    }

    .main .container .background {
      width: inherit;
    }
  }

  .main .container {
    width: 100%;
  }

  .main .container .background {
    width: inherit;
  }
}

.InputFieldDiv {
  width: 80%;
  margin: 2vh auto;
}

.logoDiv {
  margin: auto;
  height: 150px;
  width: 300px;
  margin-top: 200px;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.subtitleDiv {
  height: 54px;
  margin: 5px;
}

.footerNavigation {
  position: relative;
}

.backNavigation {
  position: absolute;
  top: 8px;
  left: 30px;
  display: flex;
  align-items: center;
}

.divFooterHeading {
  margin: 5px 0 0 10px;
}

@media only screen and (max-width: 20rem) {
  /* iPhone 5SE */
  .main {
    width: 15rem;
  }

  .main .container {
    width: 20rem;
    height: 35.5rem;
    margin: 0 auto;
  }

  .main .container .background {
    width: 20rem;
  }

  .main .container .content {
    width: 15rem;
    margin: 0 auto;
  }

  .main .container .content .logoDiv {
    width: 15rem;
  }

  .main .container .content .Button {
    width: 12rem;
  }
}

.Button {
  margin: 50px;
}

.inputFieldSubtitle {
  text-align: start;
  margin-bottom: -15px;
}

.divHeader {
  text-align: start;
  width: 80%;
  margin: auto;
}

.divHeaderSubtitle {
  margin-top: -15px;
}

.divSubtitle {
  text-align: start;
  width: 80%;
  margin: auto;
}
