.InputFieldDiv {
  width: 80%;
  margin: 2vh auto;
}

.Button {
  margin: 30px;
}

.logoDiv {
  margin: auto;
  height: 150px;
  width: 300px;
  margin-top: 200px;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.subtitleDiv {
  height: 54px;
  margin: 5px;
}

.footerNavigation {
  position: relative;
}

.backNavigation {
  position: absolute;
  top: 8px;
  left: 30px;
  display: flex;
  align-items: center;
}

.divFooterHeading {
  margin: 5px 0 0 10px;
}
