.divHeading {
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 150px;
  z-index: 1;
}

.divFixed {
  position: fixed;
  width: 100vw;
  background-color: white;
}

.relativeArrow {
  position: absolute;
  left: 18px;
  top: 5vh;
}
.listDiv{
  margin-top:5%;
}
.searchDiv{
}