.page {
  z-index: 3;
  position: relative;
  background: white;
}

.divHeading {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vh;
  z-index: 1;
}

.divFixed {
  position: fixed;
  width: 100vw;
  background-color: white;
}

.relativeArrow {
  position: absolute;
  left: 18px;
  top: 5vh;
}
.listDiv {
  margin-top: 5%;
}
.searchDiv {
  width: 95vw;
  margin: auto;
}
