.page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
}

.tabIncoming {
  width: 100%;
  height: 100%;
}

.tabActivity {
  width: 100%;
  height: 100%;
}

.relativeArrow {
  position: absolute;
  left: 5%;
  align-items: center;
}

.head {
  border-bottom: 0.1px solid rgb(196, 194, 194);
}

.tab {
  display: flex;
  justify-content: center;
}

.incoming {
  width: 50%;
  overflow: hidden;
}

.outgoing {
  width: 50%;
  overflow: hidden;
}

.tabIncoming .incoming {
  border-bottom: 5px solid rgb(196, 194, 194);
}

.tabOutgoing .outgoing {
  border-bottom: 5px solid rgb(196, 194, 194);
}

.teamInvitationList {
  margin-top: 5%;
}

.connectionList {
  margin-top: 5%;
}

.activityList {
  margin-top: 5%;
}

.teamRatingList {
  margin-top: 5%;
}
