.friendList {
  box-sizing: border-box;
  width: 100vw;
  height: 15.76vh;
  overflow: visible;
  border-color: #808080;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.divFriendList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -30px;
  width: 140px;
}

.divUserInfo {
  height: 2.5vh;
  text-align: left;
}
