.friendList {
  box-sizing: border-box;
  width: 100vw;
  height: 15.76vh;
  overflow: visible;
  border-color: #808080;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.divFriendList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.divUsernameInfo {
  width: auto;
  height: auto;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  color: var(--black, #000000);
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  font-style: normal;
  font-family: "Nunito", serif;
}
.divFacultyInfo {
  width: auto;
  height: auto;
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  line-height: 1.2;
  color: var(--search_bar, #c2c2c2);
  font-size: 10px;
  text-align: left;
  font-weight: 600;
  font-style: normal;
  font-family: "Nunito", serif;
}
.divUserInfo {
  height: 2.5vh;
  text-align: left;
}
.divUserRole {
  height: 2.5vh;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.linkDiv a {
  text-decoration: none;
}
.roleDiv {
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  font-style: normal;
  font-family: "Nunito", serif;
  color: var(--main_pink, #f33182);
}
