.exploreContent {
  width: 90vw;
  margin: auto;
}

.exploreHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploreHeader a {
  margin-top: 2vh;
  flex: 1;
}

.exploreHeader div {
  flex: 8;
}

.exploreSubtitle,
.exploreHeading {
  display: flex;
  justify-content: left;
}

.overflowY {
  overflow: scroll;
}
