.exploreContent {
  width: 90vw;
  margin: auto;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: white;
}
.exploreHeader {
  display: flex;
  align-items: center;
  margin: auto;
  width: 90vw;
}

.exploreHeader a {
  margin-top: 2vh;
  margin-right: 2vw;
  flex: 1;
}

.exploreSubtitle,
.exploreHeading {
  display: flex;
  justify-content: left;
}

.overflowY {
  overflow: scroll;
}
