.titlePage {
  /* width: 106px; */
  height: 1.7rem;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.7rem;
  color: #f33182;
  font-weight: 600;
  font-style: normal;
  font-family: inherit;
}

.titlePageBlack {
  /* width: 106px; */
  height: 1.7rem;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 1.7rem;
  color: #030303;
  font-weight: 600;
  font-style: normal;
  font-family: inherit;
}

.smallSize {
  font-size: 1rem;
  font-weight: 500;
}

.mediumSize {
  font-size: 2rem;
}

.bigSize {
  font-size: 3rem;
}
