.titlePage {
  /* width: 106px; */
  height: 24px;
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 25px;
  color: #f33182;
  font-weight: 600;
  font-style: normal;
  font-family: inherit;
}

.smallSize {
  font-size: 15px;
}

.mediumSize {
  font-size: 20px;
}

.bigSize {
  font-size: 25px;
}
