.mainDiv {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: auto;
}
.pageNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headingDiv {
  overflow: visible;
  white-space: pre;
  color: var(--main_pink, #f33182);
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-family: "Nunito", serif;
}
.teamContainer {
  margin-top:40vh;
  margin-bottom:2vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 2.46vh;
  width: 100vw;

}
.teamDiv {
  margin-left:6vw;
  text-align: left;
  width:100vw;
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Nunito", serif;
  font-size: 20px;
  color: var(--main_pink, #f33182); 
}
.arrowDiv {
  height:6.21vh;
  display:flex;
  align-items: center;
  margin-right:25vw;
  margin-left:5vw;
}
.headerContainer {
  width: 100vw;
  height: 4.92vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.5px solid grey;
}
.fixHeaderDiv{
  position:fixed;
  background-color: white;
}
.teamListsDiv{

}