.subtitle {
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-family: inherit;
  color: #979797;
  font-size: 1rem;
}
.subtitlePagePink {
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-family: inherit;
  color: #f33182;
  font-size: 1rem;
}

.subtitlePageBlack {
  /* width: 106px; */
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  font-family: inherit;
  color: #000000;
  font-size: 1rem;
}

.smallSize {
  font-size: 1rem;
  font-weight: 500;
}

.mediumSize {
  font-size: 2rem;
}

.bigSize {
  font-size: 3rem;
}

.smallMediumSize {
  font-size: 1.25rem;
  font-weight: 500;
  /* height: 19px; */
}

.smallerSize {
  font-size: 0.75rem;
  font-weight: 500;
}

.bold {
  font-weight: 800;
}
