.educationList {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.educationContainer {
  width: 85%;
  display: flex;
  margin-bottom: 5%;
}

.educationLogo {
  width: 60px;
  height: 60px;
  margin-top: 3%;
  margin-right: 10%;
}

.educationInfo {
  text-align: start;
}

.faculty {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 7%;
  margin-bottom: 3%;
}

.major {
  font-size: 0.7rem;
  font-weight: 500;
  color: #c0bfbf;
}
