.memberList {
  box-sizing: border-box;
  width: 100vw;
  height: 15.763vh;
  overflow: visible;
  border-color: #808080;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.divFriendList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -3.7vh;
  width: 0.4vw;
}

.divUserInfo {
  height: 2.46vh;
  text-align: left;
}
.checkboxDiv{
  display:flex;
  padding-left:10vw;
  height:16.7vh;
  align-items: center;
}
