.memberList {
  box-sizing: border-box;
  width: 375px;
  height: 128px;
  overflow: visible;
  border-color: #808080;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.divFriendList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -30px;
  width: 150px;
}

.divUserInfo {
  height: 20px;
}
