.toolbarDiv {
  justify-content: center;
  display:flex;
  flex-direction: row;
  width: 375px;
  height: 30px;
  margin-top:30px;
}
.mailDiv {
  margin-left:70px;
  width:23px;
  height:30px;
  zoom: 250%;
}
.hamburgerDiv {
  width:23px;
  height:30px;
}
.arrowDiv {
  align-items: flex-end;
  position: fixed;
  right: 10%;
  margin:auto;
}
.promptDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.heroDiv{
  margin-top:98px;
}
.searchDiv {
  margin-right:25px;
  zoom: 160%;
  height: 30px;
  width: 23px;
  
}
.background {
  width: 375px;
  height: 812px;
}
