.main {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.content {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.circle_overlay {
  position: absolute;
  background: white;
  opacity: 1;
  border-radius: 50%;
  width: 250%;
  height: 100%;
}

.promptDiv .circle_overlay {
  position: absolute;
  background: white;
  opacity: 0.5;
  border-radius: 50%;
  width: 250%;
  height: 100%;
}

.content .searchDiv {
  zoom: 160%;
  margin-left: -10%;
  margin-right: 53%;
}

.flexDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerDiv {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  margin-top: 5%;
}

.flexDiv .searchDiv {
  zoom: 160%;
  margin-left: -20%;
  margin-right: 50%;
}

.mailDiv {
  zoom: 250%;
}

.hamburgerDiv {
  margin-left: 5%;
}

.heroDiv {
  margin-top: 15vh;
}

.arrowDiv {
  align-items: flex-end;
  position: fixed;
  top: 5vh;
  left: 10vw;
}

.promptDiv {
  margin-top: 10%;
}

.hamburgerPromptDiv {
  display: flex;
  position: relative;
  z-index: 2;
}

/* @media only screen and (max-width: 375px) {
  /* iPhone X 

  .main .container {
    width: 100vw;
    height: 100vh;
  }
  .headerDiv {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
  }
  .flexDiv {
    display: flex;
    flex-direction: column;
  }
  .heroDiv {
    margin-top: 60%;
  }
  .mailDiv {
    zoom: 250%;
    margin-top: 15%;
    margin-left: 20vw;
  }
  .hamburgerDiv {
    margin-left: 5%;
  }
  .arrowDiv {
    align-items: flex-end;
    position: fixed;
    top: 5vh;
    left: 10vw;
  }
  .promptDiv {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .hamburgerPromptDiv {
    display: flex;
  }
  .searchDiv {
    zoom: 160%;
    margin-bottom: 1%;
  }
  .background {
    width: 100%;
    height: 100%;
  }
.toolbarDiv {
  justify-content: center;
  display:flex;
  flex-direction: row;
  width: 375px;
  height: 30px;
  margin-top:30px;
}
.mailDiv {
  margin-left:70px;
  width:23px;
  height:30px;
  zoom: 250%;
}
.hamburgerDiv {
  width:23px;
  height:30px;
}
.arrowDiv {
  align-items: flex-end;
  position: fixed;
  right: 10%;
  margin:auto;
}
.promptDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.heroDiv{
  margin-top:98px;
}
.searchDiv {
  margin-right:25px;
  zoom: 160%;
  height: 30px;
  width: 23px;
  
}
.background {
  width: 375px;
  height: 812px;
}

*/
