.mainDiv {
  display: flex;
  flex-direction: column;
}
.headingcontainerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.listDiv {
  width: 100vw;
  height: 12.7vh;
}
.promptListDiv {
  width: 100vw;
  height: 12.7vh;
}
.arrowDiv {
  zoom: 150%;
  width: 28px;
  height: 28px;
  position: fixed;
  left: 5%;
  top: 3.3%;
}
.deleteunderlineDiv a {
  text-decoration: none;
}
