.main {
  width: 100vw;
  position: relative;
}

.relativeArrow {
  position: absolute;
  left: 5%;
  align-items: center;
}

.head {
  border-bottom: 0.1px solid rgb(196, 194, 194);
}

.info {
  width: 100%;
  border-bottom: 0.01px solid rgb(196, 194, 194);
}

.profileInfo {
  overflow: hidden;
}

.editProfile {
  position: absolute;
  overflow: hidden;
  right: 5%;
  top: 25%;
}

.editAbout {
  position: absolute;
  overflow: hidden;
  right: 5%;
  top: 37%;
}

.about {
  margin-top: 5%;
  border-bottom: 0.01px solid rgb(196, 194, 194);
}

.education {
  margin-top: 5%;
  border-bottom: 0.01px solid rgb(196, 194, 194);
}

.activity {
  margin-top: 5%;
  border-bottom: 0.01px solid rgb(196, 194, 194);
}

.interest {
  margin-top: 5%;
  margin-bottom: 10%;
  border-bottom: 0.01px solid rgb(196, 194, 194);
}

.interestHeader {
  display: flex;
}

.heading {
  font-size: 1.2rem;
  text-align: start;
  font-weight: 900;
  margin-left: 5%;
  margin-bottom: 5%;
}

.addIcon {
  position: absolute;
  overflow: hidden;
  right: 5%;
}

.interestLists {
  display: flex;
  margin-left: 3%;
}

.editPrompt .header {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1px solid rgb(196, 194, 194);
}

.editPrompt .relativeArrow {
  left: 5%;
  margin-top: 7%;
}

.editPrompt .saveBtn {
  position: absolute;
  overflow: visible;
  font-size: 1.2rem;
  color: #f33182;
  font-weight: 700;
  font-family: inherit;
  right: 5%;
  margin-top: 7%;
}
.buttonDiv{
  margin-top: 7vh;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 24.8vw;
  height: 3.2vh;
  background-color: var(--main_pink, #f33182);
  overflow: visible;
  border-radius: 25px;
}
.pendingButtonDiv{
  margin-top: 7vh;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 24.8vw;
  height: 3.2vh;
  background-color: grey;
  overflow: visible;
  border-radius: 25px;
}
.acceptButtonDiv{
  margin-top: 7vh;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 24.8vw;
  height: 3.2vh;
  background-color:var(--green_toggle, #00c300);
  overflow: visible;
  border-radius: 25px;
}
.buttonTextDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24.8vw;
  height: 3.2vh;
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  font-family: "Nunito", serif;
  color: var(--white, #ffffff);
  font-size: 12px;
}
.addDiv{
  position:absolute;
  right:4vw;
  top:26vh;
}
