.heading {
  text-align: start;
  margin: 0 0 0 20px;
}

.footerNavigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerIcon {
  display: flex;
  align-items: center;
}

.subtitleDiv {
  margin: -15px 0 0 -8px;
}

.headerDiv {
  border-bottom: 1px solid rgb(163, 163, 187);
  margin-bottom: 30px;
}
