.heading {
  text-align: start;
  margin: 0 0 0 20px;
}

.footerNavigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerIcon {
  display: flex;
  align-items: center;
}
