.background {
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleDiv {
  text-align: start;
  margin-top: 10%;
  margin-bottom: -8%;
}

.subtitleDiv {
  text-align: start;
  margin-bottom: 14%;
}

.inputFieldDiv {
  width: 100%;
  margin: 2vh auto;
}

.selectDiv {
  width: 100%;
  margin: 5vh auto;
}

.footerIcon {
  display: flex;
  align-items: center;
}

.usernameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: start;
  margin: 0 0 0 20px;
}

.footerNavigation {
  position: relative;
  bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Button {
  margin-top: 15%;
  margin-bottom: 10%;
}

.noStyleButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.emptyDiv {
  width: 21vw;
}

.profilePicDiv {
  margin: 5vh;
}
.idYearFaculty {
  text-align: start;
  max-width: 90vw;
  height: auto;
  overflow: visible;
  white-space: pre;
  font-weight: 400;
  font-style: normal;
  font-family: "nunito", serif;
  color: var(--main_pink, #f33182);
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 18px;
}
/*

@media only screen and (min-width: 415px) {                      /* tablet
  .main .container {
    width: 100vw;
  }

  .main .container .heading {
    text-align: start;
    margin: 4rem 0 0 2rem;
  }

  .main .container .subtitleDiv {
    margin: -1.2rem 0 0 2rem;
    text-align: start;
  }

  .main .container .profilePicDiv {
    margin: 2rem auto;
  }

  .main .container .InputFieldDiv {
    width: 70vw;
    margin: 3vh auto;
  }

  .main .container .footerNavigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
  }
}

*/
