.mainContainer {
  width: 100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

.mainContainer > div {
  height: 100%;
}

.pageAnimate {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}